<!DOCTYPE html>
<html>
<head>
    <title>Blog Site</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body style="background-color:blanchedalmond">

    <nav class="navbar navbar-expand-xl navbar-light navbar-toggler m-xl-4">
        <a class="navbar-brand m-1" href="#">LOGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto"></ul>

            <ul class="navbar-nav m-1" style="font-size:20px; margin-left:auto">
                <li class="nav-item active">
                    <a class="nav-link" href="\Admin\Home">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="\Admin\AllUser">ALL USERS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="\Admin\AddUser">ADD USER</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="\Admin\Logout">LOGOUT</a>
                </li>
            </ul>
        </div>
    </nav>


    @RenderBody();

</body>
</html>