@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>

    <div style=" text-align: center;
        font-family: Montserrat;
        transform: translateY(100%)">

        <div class="h1">
            WELCOME TO BLOG APPLICATION
        </div>
        <p>
            You can register yourself and check out what's going on<br>
            in others daily life
        </p>
        <div class="text-center">
            <a href="\User\login" class="btn btn-primary" style="width:200px; color:white"> CONNECT</a>
        </div>

    </div>

</div>