@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>

    <div style=" text-align: center;
        font-family: Montserrat;
        transform: translateY(100%)">

        <div class="h1 text-white" >
            WELCOME TO BLOG SITE
        </div>
       
        <div class="text-center">
            <a href="\User\login" class="btn btn-primary" style="width:200px; color:white"> Click<br/> <b> CONNECT </b><br />with Friends</a>
        </div>

    </div>

</div>